/* File: styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    margin: 2rem auto;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
}

input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.75rem;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

header {
    background-color: #28a745;
    color: white;
    padding: 1rem;
    text-align: center;
}

.market-listings, .my-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.product {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
   width:250px;
}















































